* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background-color: aliceblue;
    color: #000000;
    font-size: 1rem;
}

header {
    background-color: #dc1313;
    padding: 0.5rem 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 3.5rem;
    width: 4rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 2.5vw;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    border: 0.1rem solid #ddd;
    border-radius: 0.3rem;
    background-color: #fff;
    padding: 0.1rem;
    position: relative;
    width: 50%;
    max-width: 27vw;
    margin-left: 5px;
}

.search-input::placeholder {
    color: #aaa;
}

.search-input {
    padding: 0.5em;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    outline: none;
    width: 80%;
}

.search-button {
    background-color: #d6001c;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    padding: 0.8rem 1.5vw;
    font-size: 0.9rem;
    margin-left: 1vw;
}

.search-button:hover {
    background-color: #ff0707;
}

main {
    padding: 2rem;
    text-align: center;
    min-height: calc(100vh - 100px);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 200px;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 0.3s ease;
}

.product img {
    width: 100%;
    height: 150px;
    max-height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.product h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.add-product {
    margin: 2rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background: #fff;
}

.add-product input,
.add-product textarea {
    width: calc(100% - 1rem);
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
}

.add-product button {
    background: #e60023;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
}

.add-product button:hover {
    background: #d6001c;
}

footer {
    background-color: #232323;
    color: #ffffff;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9em;
}
