*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: georgia;
    background-color: aliceblue;
    color: #000000;
    font-size: 1rem;
}

header{
    background-color: #dc1313;
    padding: 0.5rem 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 3.5rem;
    width: 4rem;
}

nav {
    position: relative;
    margin-left: auto; 
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex; 
    margin-left: auto;
}

.nav-links li {
    margin-left: 2.5vw;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 2.5vw;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    border: 0.1rem solid #ddd;
    border-radius: 0.3rem;
    background-color: #fff;
    padding: 0.4rem;
    position: relative;
    width: 100%;
}

.search-input {
    padding: 0.5em;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    outline: none;
    width: 80%;
}

.search-button {
    background-color: #d6001c;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    padding: 0.8rem 1.5vw;
    font-size: 0.9rem;
    margin-left: 1vw;
}

.search-button:hover {
    background-color: #ff0707;
}


main {
    padding: 2rem;
    text-align: center;
    min-height: calc(100vh - 100px);
}

main img {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
}

.intro {
    background-color: #fefefe;
    padding: 5vh 2vw;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.intro h1 {
    font-size: 3vw;
    border-radius: 8px;
    margin-bottom: 2vh;
}

.intro p {
    font-size: 1.5em;
    margin-bottom: 3rem;
}

.cta-button {
    background-color: #dc1313;
    color: #ffffff;
    padding: 1rem 2vw;
    text-decoration: none;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1rem;
}

.cta-button:hover{
    background-color: #cc0000;
}

footer {
    background-color: #232323;
    color: #ffffff;
    text-align: center;
    padding: 0.5rem;
    position: relative;
    width: 100%;
    bottom: 0;
    font-size: 0.9em;
    margin-top: 20px
}

@media (max-width: 768px) {

    body {
        font-size: 0.9rem;
    }

    header {
        padding: 0.5rem; 
        height: auto;
    }

    .menu-toggle {
        display: block;
    }

    nav a {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #dc1313; 
        width: 100%;
        z-index: 10;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
        text-align: center; 
    }

    .search-container {
        flex-direction: column; 
        align-items: stretch;
    }

    .search-button {
        width: 100%; 
        margin-left: 0;
        margin-top: 0.5rem; 
    }

    .intro {
        padding: 3vh 1vw; 
    }

    .intro h1 {
        font-size: 5vw; 
    }

    .intro p {
        font-size: 1.2em; 
    }

    .cta-button {
        padding: 0.8rem 5vw;
        font-size: 1em; 
    }
}