* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #ffffff;
    color: #333333;
}

header {
    background-color: #dc1313;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
    width: 60px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-left: 20px;
}

.search-container:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-input {
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    flex: 1;
}

.search-input::placeholder {
    color: #aaa;
}

.search-button {
    background-color: #dc1313;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.search-button:hover {
    background-color: #b01111;
}

main {
    padding: 20px;
    text-align: center;
}

.intro {
    background-color: #fefefe;
    padding: 50px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.botao {
    width: 295px;
    height: 200px;
    font-size: 25px;
    background-color: #dc1313;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.add-category-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.add-category-button {
    background-color: #dc1313;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-category-button:hover {
    background-color: #b01111;
}

#new-category-inputs {
    display: none; /* Initially hidden */
    align-items: center;
    margin-left: 10px;
}

#new-category-inputs input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

#new-category-inputs input:focus {
    border-color: #dc1313;
    outline: none;
}

.submit-button {
    background-color: #dc1313; /* Alterado para vermelho */
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #b01111; /* Alterado para vermelho escuro */
}

footer {
    background-color: #232323;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}