*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: georgia;
    background-color: aliceblue;
    color: #000000;
    font-size: 1rem;
}

header{
    background-color: #dc1313;
    padding: 0.5rem 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

header .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

header .logo {
    margin-right: 1px;
}

.logo img {
    height: 3.5rem;
    width: 4rem;
}

header .home-icon {
    font-size: 1.50rem; 
    color: #fff;
    position: absolute;
    bottom:5px; 
    right: -40px;
}

header .home-icon i {
    margin-right: 2px; 
}

nav {
    position: relative;
    margin-left: auto; 
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex; 
    margin-left: auto;
}

.nav-links li {
    margin-left: 0.5vw;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 2.5vw;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    border: 0.1rem solid #ddd;
    border-radius: 0.3rem;
    background-color: #fff;
    padding: 0.4rem;
    position: relative;
    width: 100%;
}


.search-container:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-input::placeholder {
    color: #aaa;
}

.search-input {
    padding: 0.5em;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    outline: none;
    width: 80%;
}

.search-button {
    background-color: #d6001c;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    padding: 0.8rem 1.5vw;
    font-size: 0.9rem;
    margin-left: 1vw;
}

.search-button:hover {
    background-color: #ff0707;
}


main {
    padding: 2rem;
    text-align: center;
    min-height: calc(100vh - 100px);
}

.intro {
    background-color: #fefefe;
    padding: 4vh 2vw;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


.intro h1 {
    font-size: 275%;
    margin-bottom: 2vh;
}

.intro p {
    font-size: 180%;
    margin-bottom: 2vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3vw;
    padding: 2vh 2vw;
}

.botao {
    width: 100%;
    height: 30vh;
    font-size: 150%;
    background-color: #dc1313;
    color: #ffffff;
    text-shadow: 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 1);
    text-decoration: none;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.add-category-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2vh 2vw;
}

.add-category-button {
    background-color: #dc1313;
    color: white;
    border: none;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-category-button:hover {
    background-color: #b01111;
}

#new-category-inputs {
    display: none; 
    align-items: center;
    margin-left: 1vw;
}

#new-category-inputs input {
    padding: 1%;
    font-size: 1vw;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    margin-right: 1vw;
    transition: border-color 0.3s;
}

#new-category-inputs input:focus {
    border-color: #dc1313;
    outline: none;
}

.submit-button {
    background-color: #dc1313;
    color: white;
    border: none;
    border-radius: 50%;
    width: 4.3vw;
    height: 5.4vh;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #b01111;
}

footer {
    background-color: #232323;
    color: #ffffff;
    text-align: center;
    padding: 0.5rem;
    position: relative;
    width: 100%;
    bottom: 0;
    font-size: 0.9em;
    margin-top: 20px
}

@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }

    header {
        padding: 0.5rem; 
        height: auto;
    }

    .menu-toggle {
        display: block;
        color: #fff;
    }

    .menu-toggle:hover {
        color: #f0f0f0;
        background-color: transparent;
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        position: fixed;
        top: 78px;
        right: 0;
        background-color: #dc1313; 
        width: 40%;
        height: auto;
        max-width: 60vh;
        padding: 1rem 0;
        z-index: 10;
        border-radius: 0.5rem;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .nav-links.active {
        display: flex;
        transform: translateX(0);
    }

    .nav-links li {
        margin: 0;
        text-align: right;
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .nav a {
        color: #ffffff;
        padding: 0.5rem 0;
        text-decoration: none;
        display: block;
    }

    .search-container {
        flex-direction: column; 
        align-items: stretch;
        margin: 1rem 0;
    }

    .search-button {
        width: 100%; 
        margin-left: 0; 
        margin-top: 0.5rem; 
    }

    .container {
        padding: 1rem; /* Reduzir padding em telas menores */
    }

    .botao {
        height: 25vh; /* Ajustar a altura dos botões em telas menores */
        font-size: 120%; /* Ajustar o tamanho da fonte */
    }

    .add-category-button {
        width: 5vh; /* Reduzir o tamanho do botão de adicionar categoria */
        height: 5vh; /* Reduzir o tamanho do botão de adicionar categoria */
    }

    #new-category-inputs input {
        width: 100%; /* Ajustar largura dos inputs */
        font-size: 4vw; /* Ajustar tamanho da fonte dos inputs */
    }

    #new-category-inputs {
        flex-direction: column; /* Alinhar inputs verticalmente */
    }
}